# 1. IMPORTING NECESSARY LIBRARIES AND MODULES

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

# 2. READING OF THE DATASET (CSV FORMAT)

In [2]:
df = pd.read_csv('ds_salaries.csv')

In [3]:
# Reading first N observation
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000,USD,136000,US,0,US,L
7,2023,SE,FT,Data Scientist,219000,USD,219000,CA,0,CA,M
8,2023,SE,FT,Data Scientist,141000,USD,141000,CA,0,CA,M
9,2023,SE,FT,Data Scientist,147100,USD,147100,US,0,US,M

# 3. Basic Data Analysis & DATA TRANSFORMATION

In [ ]:
# Dataset Information -- Number of Columns, Datatypes, etc.
df.info()

In [ ]:
# Name of Columns
df.columns.to_list()

In [ ]:
#checking for missing values in dataset. 
df.isnull().sum()

In [ ]:
#checking statistical characteristics for numerical features (without preprocessing)
df.describe()

## 3.1 TRANSFORMATION.

In [ ]:
df['remote_ratio'] = df['remote_ratio'].replace({
    0: 'On site',
    50: 'Half remote',
    100: 'full remote',
})

In [ ]:
df['remote_ratio'] = df['remote_ratio'].replace({
    'On site': 0,
    'Half remote': 50,
    'full remote': 100,
})

In [ ]:
encoder = OneHotEncoder()
toEncode_workYear = df.copy()
feature_to_encode="work_year"
df = pd.get_dummies(toEncode_workYear, columns=[feature_to_encode], prefix=[feature_to_encode])

In [ ]:
toEncode_workYear = df.copy()
feature_to_encode="remote_ratio"
df = pd.get_dummies(toEncode_workYear, columns=[feature_to_encode], prefix=[feature_to_encode])

In [ ]:
df["work_year_2020"]= df["work_year_2020"].astype('int64')
df["work_year_2021"]= df["work_year_2021"].astype('int64')
df["work_year_2022"]= df["work_year_2022"].astype('int64')
df["work_year_2023"]= df["work_year_2023"].astype('int64')
df["remote_ratio_0"]= df["remote_ratio_0"].astype('int64')
df["remote_ratio_50"]= df["remote_ratio_50"].astype('int64')
df["remote_ratio_100"]= df["remote_ratio_100"].astype('int64')

In [ ]:
df['experience_level'] = df['experience_level'].replace({
    'SE': 'Senior level',
    'EN': 'Entry level',
    'EX': 'Excecutive level',
    'MI': 'Mid/Intermediete level',
})

df['company_size'] = df['company_size'].replace({
    'S': 'Small',
    'M': 'Medium',
    'L': 'Large',
})

In [ ]:
toEncode_workYear = df.copy()
feature_to_encode="experience_level"
df = pd.get_dummies(toEncode_workYear, columns=[feature_to_encode], prefix=[feature_to_encode])

In [ ]:
df["experience_level_Entry level"]= df["experience_level_Entry level"].astype('int64')
df["experience_level_Excecutive level"]= df["experience_level_Excecutive level"].astype('int64')
df["experience_level_Mid/Intermediete level"]= df["experience_level_Mid/Intermediete level"].astype('int64')
df["experience_level_Senior level"]= df["experience_level_Senior level"].astype('int64')

In [ ]:
df['company_size'] = df['company_size'].replace({
    'S': 'Small',
    'M': 'Medium',
    'L': 'Large',
})

In [ ]:
toEncode_workYear = df.copy()
feature_to_encode="company_size"
df = pd.get_dummies(toEncode_workYear, columns=[feature_to_encode], prefix=[feature_to_encode])

In [ ]:
df["company_size_Large"]= df["company_size_Large"].astype('int64')
df["company_size_Medium"]= df["company_size_Medium"].astype('int64')
df["company_size_Small"]= df["company_size_Small"].astype('int64')

In [ ]:
df['employment_type'] = df['employment_type'].replace('FT', 'Full-Time')
df['employment_type'] = df['employment_type'].replace('CT', 'Contractor')
df['employment_type'] = df['employment_type'].replace('FL', 'Freelancer')
df['employment_type'] = df['employment_type'].replace('PT', 'Part-Time')

In [ ]:
toEncode_workYear = df.copy()
feature_to_encode="employment_type"
df = pd.get_dummies(toEncode_workYear, columns=[feature_to_encode], prefix=[feature_to_encode])

In [ ]:
df["employment_type_Full-Time"]= df["employment_type_Full-Time"].astype('int64')
df["employment_type_Part-Time"]= df["employment_type_Part-Time"].astype('int64')
df["employment_type_Contractor"]= df["employment_type_Contractor"].astype('int64')
df["employment_type_Freelancer"]= df["employment_type_Freelancer"].astype('int64')

In [ ]:
country_mapping = {
    'US': 'North America',
    'GB': 'Europe',
    'CA': 'North America',
    'ES': 'Europe',
    'IN': 'Asia',
    'DE': 'Europe',
    'FR': 'Europe',
    'PT': 'Europe',
    'BR': 'South America',
    'GR': 'Europe',
    'NL': 'Europe',
    'AU': 'Oceania',
    'MX': 'North America',
    'IT': 'Europe',
    'PK': 'Asia',
    'JP': 'Asia',
    'IE': 'Europe',
    'NG': 'Africa',
    'AT': 'Europe',
    'AR': 'South America',
    'PL': 'Europe',
    'PR': 'North America',
    'TR': 'Asia',
    'BE': 'Europe',
    'SG': 'Asia',
    'RU': 'Europe',
    'LV': 'Europe',
    'UA': 'Europe',
    'CO': 'South America',
    'CH': 'Europe',
    'SI': 'Europe',
    'BO': 'South America',
    'DK': 'Europe',
    'HR': 'Europe',
    'HU': 'Europe',
    'RO': 'Europe',
    'TH': 'Asia',
    'AE': 'Asia',
    'VN': 'Asia',
    'HK': 'Asia',
    'UZ': 'Asia',
    'PH': 'Asia',
    'CF': 'Africa',
    'CL': 'South America',
    'FI': 'Europe',
    'CZ': 'Europe',
    'SE': 'Europe',
    'AS': 'Oceania',
    'LT': 'Europe',
    'GH': 'Africa',
    'KE': 'Africa',
    'DZ': 'Africa',
    'NZ': 'Oceania',
    'JE': 'Europe',
    'MY': 'Asia',
    'MD': 'Europe',
    'IQ': 'Asia',
    'BG': 'Europe',
    'LU': 'Europe',
    'RS': 'Europe',
    'HN': 'North America',
    'EE': 'Europe',
    'TN': 'Africa',
    'CR': 'North America',
    'ID': 'Asia',
    'EG': 'Africa',
    'DO': 'North America',
    'CN': 'Asia',
    'SK': 'Europe',
    'IR': 'Asia',
    'MA': 'Africa',
    'IL': 'Asia',
    'MK': 'Europe',
    'BA': 'Europe',
    'AM': 'Asia',
    'CY': 'Asia',
    'KW': 'Asia',
    'MT': 'Europe',
    'AL': 'Europe',
    'BS': 'North America'
}

country_codes = ['US', 'GB', 'CA', 'ES', 'IN', 'DE', 'FR', 'PT', 'BR', 'GR', 'NL', 'AU',
                'MX', 'IT', 'PK', 'JP', 'IE', 'NG', 'AT', 'AR', 'PL', 'PR', 'TR', 'BE',
                'SG', 'RU', 'LV', 'UA', 'CO', 'CH', 'SI', 'BO', 'DK', 'HR', 'HU', 'RO',
                'TH', 'AE', 'VN', 'HK', 'UZ', 'PH', 'CF', 'CL', 'FI', 'CZ', 'SE', 'AS',
                'LT', 'GH', 'KE', 'DZ', 'NZ', 'JE', 'MY', 'MD', 'IQ', 'BG', 'LU', 'RS',
                'HN', 'EE', 'TN', 'CR', 'ID', 'EG', 'DO', 'CN', 'SK', 'IR', 'MA', 'IL',
                'MK', 'BA', 'AM', 'CY', 'KW', 'MT', 'AL', 'BS']

continent_mapping = {country: country_mapping.get(country, 'Unknown') for country in country_codes}

In [ ]:
for i in range(len(df)):
    df['employee_residence'][i] = continent_mapping[df['employee_residence'][i]]
for i in range(len(df)):
    df['company_location'][i] = continent_mapping[df['company_location'][i]]

In [ ]:
for i in range (len(df)):
    if df['job_title'][i].split()[0] != "Head":
        df['job_title'][i] = df['job_title'][i].split()[-1]
    elif df['job_title'][i].split()[0] == "Head":
        df['job_title'][i] = "Head"